<div class="bg-gray-300 w-full">
  <div class="container bg-gray max-w-full mx-auto pt-4">
    <h1 class="text-center text-4xl text-black font-medium leading-snug tracking-wider">
      <%= t(:b2b_services) %>!
    </h1>
    <p class="text-center text-lg text-gray-700 mt-2 px-6">
      <%= t(:b2b_services_text) %>.
    </p>
    <div class="h-1 mx-auto bg-indigo-200 w-24 opacity-75 mt-4 rounded"></div>

    <div class="max-w-full md:max-w-6xl mx-auto my-3 md:px-8 text-center">

      <div id="formb2b"></div>

      </div>
    </div>
  </div>
