<!--Modal-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center z-50">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

    <% props = {
        sms_quantity: 1000
    }.to_json
    %>

    <div id="requestform" data="<%= props %>"></div>

  </div>
</div>
<!-- End Modal -->

